body {
    padding: 3rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: dodgerblue;
}

.card-header {
    background-color: #000;
    color: #ffffff;
}

.comment-header {
    display: flex;
    padding-right: 1rem;
    align-items: center;
    justify-content: space-between;
}

.card-header img {
    border-radius: 50% ;
}

.error {
    color: red;
}

.gray-arrows {
    color: #cccccc;
}

.card {
    background: #FFFFFF;
    box-shadow: 2px 4px 18px rgba(68, 69, 78, 0.06);
    border-radius: 12px;
    height: 100%;
}

.card--bordered {
    border: 1px solid #EDEDF0;
    border-radius: 10px;
}

input {
    width: 20rem;
}

input::placeholder {
    font-weight: bold;
    opacity: 0.5;
    padding: 1rem .5rem;
}

.recaptcha-wrapper {
    width: 28.8rem;
}

.recaptcha-wrapper .g-recaptcha {
    transform: scale(0.947);
    transform-origin: 0 0;

}

.modal.hide {
    display: none;
}
.modal.show {
    display: block;
}
